<br />
<span class="Label">First: </span><input id="FirstName" class="field" type="text" data-bind="value: FirstName" /><br />
<span class="Label">Last: </span><input id="LastName" class="field" type="text" data-bind="value: LastName" /><br />
<span class="Label">Address: </span><input id="Address" class="field" type="text" data-bind="value: Address" /><br />
<span class="Label">City: </span><input id="City" class="field" type="text" data-bind="value: City" /><br />
<span class="Label">State: </span><input id="State" class="field" type="text" data-bind="value: State" /><br />
<span class="Label">Zip: </span><input id="Zip" class="field" type="text" data-bind="value: Zip" /><br />
<span class="Label">Phone Number: </span><input id="PhoneNumber" class="field" type="text" data-bind="value: PhoneNumber" /><br />
<span class="Label">Birth Date: </span><input id="BirthDate" class="field" type="text" data-bind="value: BirthDate" /><br />
<span class="Label">Job Title: </span><input id="JobTitle" class="field" type="text" data-bind="value: JobTitle" /><br />
<span class="Label">DLNumber: </span><input id="DriversLicenseNumber" class="field" type="text" data-bind="value: DriversLicenseNumber" /><br />
<span class="Label">DLState: </span><input id="DriversLicenseState" class="field" type="text" data-bind="value: DriversLicenseState" /><br />
<span class="Label">SSN: </span><input id="SocialSecurityNumber" class="field" type="text" data-bind="value: SocialSecurityNumber" /><br />
<span class="Label">Ownership %: </span><input id="OwnershipPercentage" class="field" type="text" data-bind="value: OwnershipPercentage" /><br />
<span class="Label">Authorized Signer: </span><input type="checkbox" id="AuthorizedSigner" class="field" data-bind="checked: AuthorizedSigner"/><br />
<button id="cancel" style="margin-top: 5px;" data-bind="click: $parent.onCancel">cancel</button>
&nbsp;
<button id="save" style="margin-top: 5px;" data-bind="click: $parent.onSaveClick">save</button>
